<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OK</title>
    <p>
        first name {{fname}}<br>
        name {{lname}}<br>

        Person data accepted

    </p>
    <a href="/">next one</a>
</head>
<body>

</body>
</html>