<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Web server starter</title>
    <link rel="stylesheet" href="main.css">
    <script src="tiny.js"></script>
    <script>
        function onLoad(){
            setStartFocus("fname")
        }
    </script>
</head>
<body onload="onLoad()">
