<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Witaj</title>
</head>
<body>
<form action="/zapisz" method="post" enctype="multipart/form-data">
    Podaj dane: <br>
    <p>
        <label>imię:</label>
        <input type="text" id="fname" name="fname"><br>
        <label>nazwisko:</label>
        <input type="text" id="lname" name="lname">
    </p>
        <input type="submit" value="zapisz" name="form">
</form>
</body>
</html>